.project-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex: 1;
    width: 100%; 
    gap: 40px; 
}

.project-container:nth-child(even) {
    flex-direction: row-reverse;
}

.project-container:nth-child(even) .info-container,
.project-container:nth-child(even) .description {
    align-items: flex-end; 
    text-align: right;     
}

.project-container:nth-child(even) .technologies {
    justify-content: flex-end;
}

.illustration-container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
}

.illustration {
    height: 350px;
    width: 350px;
    border-radius: 15px;
}

.illustration-bg {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 375px;
    width: 375px;
    background: linear-gradient(-45deg, #58A6FF, #8AC0FF);
    border-radius: 20px;
}

.info-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 70%;
    gap: 30px;
}

.description {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    text-align: left;
    max-width: 600px;
    gap: 30px;
}

.info-container h1 {
    font-size: 27px;
}

.description p {
    font-size: 17px;
}

.description p,
.info-container h1 {
    margin: 0;
}

.description a {
    display: flex;
    flex-direction: row;
    height: 30px;
    background-color: #58A6FF;
    border: 0;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    font-family: "Montserrat", sans-serif;
    font-weight: bolder;
    font-size: 17px;
    gap: 2px;
    text-decoration: none;
    color: #000000;
    padding: 5px;
}

.technologies {
    display: flex;
    flex-direction: row;
    height: 50px;
    gap: 10px;
}

.technologies img {
    height: 40px;
    width: 40px;
}