section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-family: 'Inter', sans-serif;
    gap: 50px;
    padding: 50px 100px;
    margin-bottom: 100px;
}

.profile-pic-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    background: linear-gradient(135deg, #008cff, #004ef7);
    border-radius: 20px;
    box-shadow: 0 8px 20px rgba(0, 123, 255, 0.2);
}

.profile-pic {
    height: 300px;
    width: 300px;
    object-fit: cover;
    border-radius: 15px; 
    display: block;
}

.text-container {
    display: flex;
    flex-direction: column;
    height: 250px;
    width: 50%;
    align-items: flex-start;
    justify-content: flex-start;
    text-align: justify;
    gap: 10px;
}

.text-container h1 {
    font-size: 25px;
}

.text-container h2 {
    font-size: 20px;
}

.text-container p {
    font-size: 15px;
}

.text-container h1, 
.text-container h2, 
.text-container p {
    margin: 0px;
}

.resume-container {
    display: flex;
    flex-direction: column;
    height: 250px;
    width: 30%;
    align-items: flex-start;
    justify-content: flex-start;
    text-align: justify;
    gap: 10px;
}

.resume-container h1 {
    font-size: 25px;
}

.resume-container p {
    font-size: 15px;
    white-space: pre-line;
}

.resume-container h1, 
.resume-container p {
    margin: 0;
}

.resume-container a {
    display: flex;
    flex-direction: row;
    height: 30px;
    background-color: #004ef7;
    border: 0;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    font-family: "Montserrat", sans-serif;
    font-weight: bolder;
    font-size: 15px;
    gap: 2px;
    text-decoration: none;
    color: #000000;
    padding: 5px;
}

.resume-container a:hover {
    transform: scale(1.1);
}

.resume-container a:active {
    background-color: #003bb9;
}

.resume-container a:visited {
    color: #000000;
}

.button-img {
    height: 15px;
}

